src/main/mule/experience-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <!-- 
    ========================================
    EXPERIENCE API LAYER (GATEWAY)
    ========================================
    
    This is the public-facing API Gateway - the only entry point for external clients.
    
    Responsibilities:
    - Request validation against RAML specification
    - Routing requests to Process API
    - Response transformation
    - Error handling
    
    Does NOT contain:
    - Business logic
    - Tax calculations
    - Data processing
    -->

    <!-- HTTP Listener Configuration for Experience API -->
    <http:listener-config name="experience-api-httpListenerConfig">
        <http:listener-connection host="${http.host}" port="${http.port}" />
    </http:listener-config>

    <!-- HTTP Request Configuration for calling Process API -->
    <http:request-config name="process-api-requestConfig">
        <http:request-connection host="${process.api.host}" port="${process.api.port}" />
    </http:request-config>

    <!-- APIKit Configuration for Request Validation -->
    <apikit:config name="experience-api-config" 
                   api="resource::api/experience-api.raml" 
                   outboundHeadersMapName="outboundHeaders" 
                   httpStatusVarName="httpStatus" />

    <!-- Main Gateway Flow - Entry Point -->
    <flow name="experience-api-main">
        <http:listener config-ref="experience-api-httpListenerConfig" 
                       path="/gateway/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        
        <!-- APIKit Router performs request validation -->
        <apikit:router config-ref="experience-api-config" />
        
        <!-- Error Handler -->
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    error: "VALIDATION_ERROR",
    message: error.description,
    timestamp: now()
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    error: "NOT_FOUND",
    message: "Resource not found",
    timestamp: now()
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    error: "METHOD_NOT_ALLOWED",
    message: "Method not allowed",
    timestamp: now()
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="ANY">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    error: "INTERNAL_ERROR",
    message: "An error occurred while processing the request",
    timestamp: now()
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">500</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>

    <!-- POST /salary/calculate Implementation -->
    <flow name="post:\salary\calculate:experience-api-config">
        <!-- Store original request for logging/tracking -->
        <set-variable variableName="originalRequest" value="#[payload]" />
        
        <logger level="INFO" message="Gateway received salary calculation request for employee: #[payload.employeeId]" />
        
        <!-- Route to Process API -->
        <flow-ref name="route-to-process-api" />
        
        <!-- Transform response from Process API to Experience API format -->
        <flow-ref name="transform-salary-response" />
        
        <logger level="INFO" message="Gateway returning salary calculation response for employee: #[payload.employeeId]" />
    </flow>

    <!-- Routing Sub-Flow: Routes requests to Process API -->
    <sub-flow name="route-to-process-api">
        <logger level="INFO" message="Routing request to Process API" />
        
        <http:request method="POST" 
                      config-ref="process-api-requestConfig" 
                      path="${process.api.basePath}/salary/calculate"
                      responseTimeout="${gateway.timeout}">
            <http:body><![CDATA[#[payload]]]></http:body>
            <http:headers><![CDATA[#[{'Content-Type': 'application/json'}]]]></http:headers>
        </http:request>
        
        <error-handler>
            <on-error-propagate type="HTTP:TIMEOUT">
                <logger level="ERROR" message="Timeout calling Process API" />
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    error: "TIMEOUT_ERROR",
    message: "Request to Process API timed out",
    timestamp: now()
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">504</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="HTTP:CONNECTIVITY">
                <logger level="ERROR" message="Connectivity error calling Process API" />
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    error: "CONNECTIVITY_ERROR",
    message: "Unable to connect to Process API",
    timestamp: now()
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">503</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </sub-flow>

    <!-- Response Transformation Sub-Flow -->
    <sub-flow name="transform-salary-response">
        <logger level="INFO" message="Transforming response for client" />
        
        <!-- Transform Process API response to Experience API format -->
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    employeeId: payload.employeeId,
    netSalary: payload.netSalary,
    grossSalary: payload.grossSalary,
    currency: payload.currency,
    calculationDate: payload.calculationDate,
    status: payload.status default "SUCCESS",
    message: payload.message default "Salary calculated successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </sub-flow>

</mule>
