src/main/mule/experience-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <!-- 
    ========================================
    EXPERIENCE API LAYER (GATEWAY)
    ========================================
    
    This is the public-facing API Gateway - the only entry point for external clients.
    
    Endpoints:
    - POST /tax/calculate - Calculate net salary with Swedish tax breakdown
    - GET /regions - List all Swedish regions (län)
    - GET /municipalities - List all municipalities (kommuner)
    - GET /municipalities/by-region/{regionId} - List municipalities in a region
    - GET /municipalities/{id} - Get a specific municipality
    
    Responsibilities:
    - Request validation against RAML specification
    - Routing requests to Process API
    - Error handling
    
    Does NOT contain:
    - Business logic
    - Tax calculations
    - Data processing
    -->

    <!-- HTTP Listener Configuration for Experience API -->
    <http:listener-config name="experience-api-httpListenerConfig">
        <http:listener-connection host="${http.host}" port="${http.port}" />
    </http:listener-config>

    <!-- HTTP Request Configuration for calling Process API -->
    <http:request-config name="process-api-requestConfig">
        <http:request-connection host="${process.api.host}" port="${process.api.port}" />
    </http:request-config>

    <!-- APIKit Configuration for Request Validation -->
    <apikit:config name="experience-api-config" 
                   api="resource::api/experience-api.raml" 
                   outboundHeadersMapName="outboundHeaders" 
                   httpStatusVarName="httpStatus" />

    <!-- Main Gateway Flow - Entry Point -->
    <flow name="experience-api-main">
        <http:listener config-ref="experience-api-httpListenerConfig" 
                       path="/gateway/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        
        <!-- APIKit Router performs request validation -->
        <apikit:router config-ref="experience-api-config" />
        
        <!-- Error Handler -->
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    error: "VALIDATION_ERROR",
    message: error.description,
    timestamp: now()
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    error: "NOT_FOUND",
    message: "Resource not found",
    timestamp: now()
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    error: "METHOD_NOT_ALLOWED",
    message: "Method not allowed",
    timestamp: now()
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="HTTP:TIMEOUT">
                <logger level="ERROR" message="Timeout calling Process API" />
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    error: "TIMEOUT_ERROR",
    message: "Request to backend service timed out",
    timestamp: now()
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">504</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="HTTP:CONNECTIVITY">
                <logger level="ERROR" message="Connectivity error calling Process API" />
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    error: "CONNECTIVITY_ERROR",
    message: "Unable to connect to backend service",
    timestamp: now()
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">503</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="ANY">
                <logger level="ERROR" message="Unexpected error in Experience API: #[error.description]" />
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    error: "INTERNAL_ERROR",
    message: "An error occurred while processing the request",
    timestamp: now()
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">500</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>

    <!-- ========================================
         TAX CALCULATION ENDPOINT
         ======================================== -->
    
    <!-- POST /tax/calculate -->
    <flow name="post:\tax\calculate:application\json:experience-api-config">
        <logger level="INFO" message="Gateway received tax calculation request" />
        
        <!-- Route to Process API -->
        <http:request method="POST" 
                      config-ref="process-api-requestConfig" 
                      path="${process.api.basePath}/tax/calculate"
                      responseTimeout="${gateway.timeout}">
            <http:body><![CDATA[#[payload]]]></http:body>
            <http:headers><![CDATA[#[{'Content-Type': 'application/json'}]]]></http:headers>
        </http:request>
        
        <logger level="INFO" message="Gateway returning tax calculation response" />
    </flow>

    <!-- ========================================
         REGION ENDPOINTS
         ======================================== -->
    
    <!-- GET /regions -->
    <flow name="get:\regions:experience-api-config">
        <logger level="INFO" message="Gateway received request for all regions" />
        
        <http:request method="GET" 
                      config-ref="process-api-requestConfig" 
                      path="${process.api.basePath}/regions"
                      responseTimeout="${gateway.timeout}">
            <http:headers><![CDATA[#[{'Accept': 'application/json'}]]]></http:headers>
        </http:request>
        
        <logger level="INFO" message="Gateway returning regions list" />
    </flow>

    <!-- ========================================
         MUNICIPALITY ENDPOINTS
         ======================================== -->
    
    <!-- GET /municipalities -->
    <flow name="get:\municipalities:experience-api-config">
        <logger level="INFO" message="Gateway received request for all municipalities" />
        
        <http:request method="GET" 
                      config-ref="process-api-requestConfig" 
                      path="${process.api.basePath}/municipalities"
                      responseTimeout="${gateway.timeout}">
            <http:headers><![CDATA[#[{'Accept': 'application/json'}]]]></http:headers>
        </http:request>
        
        <logger level="INFO" message="Gateway returning municipalities list" />
    </flow>

    <!-- GET /municipalities/by-region/{regionId} -->
    <flow name="get:\municipalities\by-region\(regionId):experience-api-config">
        <logger level="INFO" message="Gateway received request for municipalities in region: #[attributes.uriParams.regionId]" />
        
        <http:request method="GET" 
                      config-ref="process-api-requestConfig" 
                      path='#["${process.api.basePath}/municipalities/by-region/" ++ attributes.uriParams.regionId]'
                      responseTimeout="${gateway.timeout}">
            <http:headers><![CDATA[#[{'Accept': 'application/json'}]]]></http:headers>
        </http:request>
        
        <logger level="INFO" message="Gateway returning municipalities for region" />
    </flow>

    <!-- GET /municipalities/{id} -->
    <flow name="get:\municipalities\(id):experience-api-config">
        <logger level="INFO" message="Gateway received request for municipality: #[attributes.uriParams.id]" />
        
        <http:request method="GET" 
                      config-ref="process-api-requestConfig" 
                      path='#["${process.api.basePath}/municipalities/" ++ attributes.uriParams.id]'
                      responseTimeout="${gateway.timeout}">
            <http:headers><![CDATA[#[{'Accept': 'application/json'}]]]></http:headers>
        </http:request>
        
        <logger level="INFO" message="Gateway returning municipality details" />
    </flow>

</mule>
