src/main/mule/process-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <!-- 
    ========================================
    PROCESS API LAYER
    ========================================
    
    This layer orchestrates business processes and coordinates calls to System APIs.
    
    Endpoints handled:
    - POST /tax/calculate - Orchestrate tax calculation
    - GET /regions - Get all regions
    - GET /municipalities - Get all municipalities
    - GET /municipalities/by-region/{regionId} - Get municipalities by region
    - GET /municipalities/{id} - Get municipality by ID
    
    Responsibilities:
    - Orchestrate calls to System APIs
    - Pass through data (no transformation needed as backend format matches)
    
    Does NOT contain:
    - Business logic
    - Tax calculations
    
    Note: This layer is not directly exposed to external clients.
    -->

    <!-- HTTP Listener Configuration for Process API -->
    <http:listener-config name="process-api-httpListenerConfig">
        <http:listener-connection host="${process.api.host}" port="${process.api.port}" />
    </http:listener-config>

    <!-- HTTP Request Configuration for calling System APIs -->
    <http:request-config name="system-api-requestConfig">
        <http:request-connection host="${system.api.host}" port="${system.api.port}" />
    </http:request-config>

    <!-- Process API Main Flow -->
    <flow name="process-api-main">
        <http:listener config-ref="process-api-httpListenerConfig" 
                       path="/process/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:body>#[payload]</http:body>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
            </http:error-response>
        </http:listener>
        
        <choice>
            <!-- Tax Calculation -->
            <when expression="#[attributes.requestPath contains '/tax/calculate' and attributes.method == 'POST']">
                <flow-ref name="process-tax-calculation" />
            </when>
            
            <!-- Regions -->
            <when expression="#[attributes.requestPath contains '/regions' and attributes.method == 'GET']">
                <flow-ref name="process-get-regions" />
            </when>
            
            <!-- Municipalities by Region -->
            <when expression="#[attributes.requestPath contains '/municipalities/by-region/' and attributes.method == 'GET']">
                <set-variable variableName="regionId" 
                              value="#[attributes.requestPath substringAfter '/municipalities/by-region/']" />
                <flow-ref name="process-get-municipalities-by-region" />
            </when>
            
            <!-- Municipality by ID -->
            <when expression="#[attributes.requestPath matches /.*\/municipalities\/[^\/]+$/ and !(attributes.requestPath contains '/by-region/') and attributes.method == 'GET']">
                <set-variable variableName="municipalityId" 
                              value="#[attributes.requestPath substringAfter '/municipalities/']" />
                <flow-ref name="process-get-municipality-by-id" />
            </when>
            
            <!-- All Municipalities -->
            <when expression="#[attributes.requestPath endsWith '/municipalities' and attributes.method == 'GET']">
                <flow-ref name="process-get-municipalities" />
            </when>
            
            <otherwise>
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    error: "NOT_FOUND",
    message: "Process API endpoint not found: " ++ attributes.requestPath,
    timestamp: now()
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
        
        <error-handler>
            <on-error-propagate type="ANY">
                <logger level="ERROR" message="Error in Process API: #[error.description]" />
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    error: "PROCESS_ERROR",
    message: error.description,
    timestamp: now()
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">500</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>

    <!-- ========================================
         TAX CALCULATION ORCHESTRATION
         ======================================== -->
    
    <flow name="process-tax-calculation">
        <logger level="INFO" message="Process API orchestrating tax calculation" />
        
        <!-- Call System API for tax calculation -->
        <http:request method="POST" 
                      config-ref="system-api-requestConfig" 
                      path="${system.api.basePath}/tax/calculate"
                      responseTimeout="${gateway.timeout}">
            <http:body><![CDATA[#[payload]]]></http:body>
            <http:headers><![CDATA[#[{'Content-Type': 'application/json'}]]]></http:headers>
        </http:request>
        
        <logger level="INFO" message="Process API completed tax calculation orchestration" />
    </flow>

    <!-- ========================================
         REGION ORCHESTRATION
         ======================================== -->
    
    <flow name="process-get-regions">
        <logger level="INFO" message="Process API orchestrating get regions" />
        
        <http:request method="GET" 
                      config-ref="system-api-requestConfig" 
                      path="${system.api.basePath}/regions"
                      responseTimeout="${gateway.timeout}">
            <http:headers><![CDATA[#[{'Accept': 'application/json'}]]]></http:headers>
        </http:request>
        
        <logger level="INFO" message="Process API completed get regions" />
    </flow>

    <!-- ========================================
         MUNICIPALITY ORCHESTRATION
         ======================================== -->
    
    <flow name="process-get-municipalities">
        <logger level="INFO" message="Process API orchestrating get all municipalities" />
        
        <http:request method="GET" 
                      config-ref="system-api-requestConfig" 
                      path="${system.api.basePath}/municipalities"
                      responseTimeout="${gateway.timeout}">
            <http:headers><![CDATA[#[{'Accept': 'application/json'}]]]></http:headers>
        </http:request>
        
        <logger level="INFO" message="Process API completed get municipalities" />
    </flow>

    <flow name="process-get-municipalities-by-region">
        <logger level="INFO" message="Process API orchestrating get municipalities for region: #[vars.regionId]" />
        
        <http:request method="GET" 
                      config-ref="system-api-requestConfig" 
                      path='#["${system.api.basePath}/municipalities/by-region/" ++ vars.regionId]'
                      responseTimeout="${gateway.timeout}">
            <http:headers><![CDATA[#[{'Accept': 'application/json'}]]]></http:headers>
        </http:request>
        
        <logger level="INFO" message="Process API completed get municipalities by region" />
    </flow>

    <flow name="process-get-municipality-by-id">
        <logger level="INFO" message="Process API orchestrating get municipality: #[vars.municipalityId]" />
        
        <http:request method="GET" 
                      config-ref="system-api-requestConfig" 
                      path='#["${system.api.basePath}/municipalities/" ++ vars.municipalityId]'
                      responseTimeout="${gateway.timeout}">
            <http:headers><![CDATA[#[{'Accept': 'application/json'}]]]></http:headers>
        </http:request>
        
        <logger level="INFO" message="Process API completed get municipality by id" />
    </flow>

</mule>
