src/main/mule/system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <!-- 
    ========================================
    SYSTEM API LAYER
    ========================================
    
    This layer integrates with the backend Spring Boot API running on port 8080.
    
    Backend endpoints called:
    - POST /api/v1/tax/calculate - Swedish net salary calculation
    - GET /api/v1/regions - List all regions
    - GET /api/v1/municipalities - List all municipalities
    - GET /api/v1/municipalities/by-region/{regionId} - Municipalities by region
    - GET /api/v1/municipalities/{id} - Municipality by ID
    
    Responsibilities:
    - Connect to backend Spring Boot API
    - Pass through requests/responses (no transformation needed)
    - Handle backend-specific errors
    
    Note: This layer is NOT exposed externally. Only Process APIs can call System APIs.
    
    IMPORTANT: Business logic and tax calculations are in the backend Spring Boot API,
    NOT in this gateway. The System APIs are just integration points.
    -->

    <!-- HTTP Listener Configuration for System API -->
    <http:listener-config name="system-api-httpListenerConfig">
        <http:listener-connection host="${system.api.host}" port="${system.api.port}" />
    </http:listener-config>

    <!-- System API Main Flow -->
    <flow name="system-api-main">
        <http:listener config-ref="system-api-httpListenerConfig" 
                       path="/system/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:body>#[payload]</http:body>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
            </http:error-response>
        </http:listener>
        
        <choice>
            <!-- Tax Calculation -->
            <when expression="#[attributes.requestPath contains '/tax/calculate' and attributes.method == 'POST']">
                <flow-ref name="system-calculate-tax" />
            </when>
            
            <!-- Regions -->
            <when expression="#[attributes.requestPath contains '/regions' and attributes.method == 'GET']">
                <flow-ref name="system-get-regions" />
            </when>
            
            <!-- Municipalities by Region -->
            <when expression="#[attributes.requestPath contains '/municipalities/by-region/' and attributes.method == 'GET']">
                <set-variable variableName="regionId" 
                              value="#[attributes.requestPath substringAfter '/municipalities/by-region/']" />
                <flow-ref name="system-get-municipalities-by-region" />
            </when>
            
            <!-- Municipality by ID -->
            <when expression="#[attributes.requestPath matches /.*\/municipalities\/[^\/]+$/ and !(attributes.requestPath contains '/by-region/') and attributes.method == 'GET']">
                <set-variable variableName="municipalityId" 
                              value="#[attributes.requestPath substringAfter '/municipalities/']" />
                <flow-ref name="system-get-municipality-by-id" />
            </when>
            
            <!-- All Municipalities -->
            <when expression="#[attributes.requestPath endsWith '/municipalities' and attributes.method == 'GET']">
                <flow-ref name="system-get-municipalities" />
            </when>
            
            <otherwise>
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    error: "NOT_FOUND",
    message: "System API endpoint not found: " ++ attributes.requestPath,
    timestamp: now()
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
        
        <error-handler>
            <on-error-propagate type="HTTP:CONNECTIVITY">
                <logger level="ERROR" message="Backend API not available: #[error.description]" />
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    error: "BACKEND_UNAVAILABLE",
    message: "Backend service is temporarily unavailable",
    timestamp: now()
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">503</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="HTTP:TIMEOUT">
                <logger level="ERROR" message="Backend API timeout: #[error.description]" />
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    error: "BACKEND_TIMEOUT",
    message: "Backend service timed out",
    timestamp: now()
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">504</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="ANY">
                <logger level="ERROR" message="Error in System API: #[error.description]" />
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    error: "SYSTEM_ERROR",
    message: error.description,
    timestamp: now()
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">500</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>

    <!-- ========================================
         TAX CALCULATION - Backend Integration
         ======================================== -->
    
    <flow name="system-calculate-tax">
        <logger level="INFO" message="System API: Calling backend tax calculation" />
        
        <!-- Call backend Spring Boot API -->
        <http:request method="POST" 
                      config-ref="backend-api-httpRequestConfig" 
                      path="${backend.api.basePath}/tax/calculate">
            <http:body><![CDATA[#[payload]]]></http:body>
            <http:headers><![CDATA[#[{'Content-Type': 'application/json'}]]]></http:headers>
        </http:request>
        
        <logger level="INFO" message="System API: Received tax calculation from backend" />
    </flow>

    <!-- ========================================
         REGIONS - Backend Integration
         ======================================== -->
    
    <flow name="system-get-regions">
        <logger level="INFO" message="System API: Calling backend get regions" />
        
        <http:request method="GET" 
                      config-ref="backend-api-httpRequestConfig" 
                      path="${backend.api.basePath}/regions">
            <http:headers><![CDATA[#[{'Accept': 'application/json'}]]]></http:headers>
        </http:request>
        
        <logger level="INFO" message="System API: Received regions from backend" />
    </flow>

    <!-- ========================================
         MUNICIPALITIES - Backend Integration
         ======================================== -->
    
    <flow name="system-get-municipalities">
        <logger level="INFO" message="System API: Calling backend get all municipalities" />
        
        <http:request method="GET" 
                      config-ref="backend-api-httpRequestConfig" 
                      path="${backend.api.basePath}/municipalities">
            <http:headers><![CDATA[#[{'Accept': 'application/json'}]]]></http:headers>
        </http:request>
        
        <logger level="INFO" message="System API: Received municipalities from backend" />
    </flow>

    <flow name="system-get-municipalities-by-region">
        <logger level="INFO" message="System API: Calling backend get municipalities for region: #[vars.regionId]" />
        
        <http:request method="GET" 
                      config-ref="backend-api-httpRequestConfig" 
                      path='#["${backend.api.basePath}/municipalities/by-region/" ++ vars.regionId]'>
            <http:headers><![CDATA[#[{'Accept': 'application/json'}]]]></http:headers>
        </http:request>
        
        <logger level="INFO" message="System API: Received municipalities by region from backend" />
    </flow>

    <flow name="system-get-municipality-by-id">
        <logger level="INFO" message="System API: Calling backend get municipality: #[vars.municipalityId]" />
        
        <http:request method="GET" 
                      config-ref="backend-api-httpRequestConfig" 
                      path='#["${backend.api.basePath}/municipalities/" ++ vars.municipalityId]'>
            <http:headers><![CDATA[#[{'Accept': 'application/json'}]]]></http:headers>
        </http:request>
        
        <logger level="INFO" message="System API: Received municipality from backend" />
    </flow>

</mule>
